body {
  font-family: "Ubuntu", sans-serif;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 200px;
}
.carousel-caption h5 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
.carousel-caption p {
  font-size: 1.1rem;
}
